PythonEF.egg-info

# dossiers à ignorer
build/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.DS_Store
results/
data/CompressionFCBA/Images

# fichier à ignorer
*.pyc
*.HEIC
*.tif
*.mp4
*.out
*.pos
*.bak
*.json
*__pycache__

