sphinx
sphinx-autodoc-typehints
pydata_sphinx_theme
sphinx-gallery==0.20.0
jupyter_sphinx
sphinx-design
myst-parser
scikit-learn
sympy
pyvista[all]
meshio @ git+https://github.com/matnoel/meshio.git@medit_higher_order_elements
imageio,
imageio[ffmpeg],