sphinx
sphinx-autodoc-typehints
pydata_sphinx_theme
sphinx-gallery
jupyter_sphinx
sphinx-design
scikit-learn
sympy
pyvista[all]
meshio @ git+https://github.com/matnoel/meshio.git@medit_higher_order_elements
pypardiso
